a {
    color: black;
}

.asc {
    color: blue;
}

.desc {
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 33.33%;
}
